<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duo Clone</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <video src="" id="localStream"></video>
    <!-- <video src="" id="remoteStream"></video> -->

    <div class="users">
        <h1>Online Users</h1>
    </div>
    <script src='home.js'></script>
</body>

</html>